src/main/mule/parallel-foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="parallel-foreachFlow" doc:id="2db6c21e-698c-4d41-8147-c7f594170816" >
		<http:listener doc:name="Listener" doc:id="bd96e00d-1bbb-44e7-8e06-979b0926374b" config-ref="HTTP_Listener_config" path="/parallel-foreach"/>
		<file:read doc:name="Read" doc:id="25085cc4-f34a-4ebf-8eb0-5dde73dad619" config-ref="File_Config" path="C:\Users\sudheer.esireddy\AnypointStudio\studio-workspace\mule-utils\src\main\resources\MOCK_DATA.json"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="72e17ab2-3b93-4152-95a9-3ec68f257a09" >
			<logger level="INFO" doc:name="Logger" doc:id="f85bb3a4-71ad-4964-8144-7fa6a4a946d2" />
			<file:write doc:name="Write" doc:id="60e20550-7158-47e9-866c-a8549ec55d30" config-ref="File_Config" path='#["content" ++ payload.id ++ ".json"]'/>
		</parallel-foreach>
	</flow>
</mule>
